@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

.logo {
  max-width: 200px;
}

.logo-footer {
  max-width: 150px;
}

#header-profile i {
  font-size: 30px;
}

.icon-social {
  outline: 3px solid transparent;
  transition-property: outline-offset, outline-color;
  transition-duration: 0.25s;
}

.icon-social:hover {
  outline-color: #ea804f;
  outline-offset: 3px;
  animation: shake 0.25s;
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}
