@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

// Header
.logo {
  max-width: 200px;
}

#header-profile-button i {
  color: #994318;
  font-size: 31px;
}

#intro {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/gavel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-image {
  height: 200px;
  object-position: center;
  object-fit: cover;
}

#link-goBack {
  cursor: pointer;
}

.details-image {
  max-height: 500px;
  object-position: center;
  object-fit: cover;
}

.thumbnail-image {
  width: 50px;
  height: 50px;
  object-position: center;
  object-fit: cover;
}

.thumbnail-image:hover {
  transform: scale(1.1);
  transition: transform 0.25s ease-in-out;
}

.modal-image {
  width: 100%;
  height: auto;
  object-position: center;
  object-fit: cover;
}

.profile-avatar {
  width: 150px;
  height: 150px;
  object-position: center;
  object-fit: cover;
}

#listingDescription {
  max-width: 400px;
}

// Footer
.logo-footer {
  max-width: 150px;
}

.icon-social {
  outline: 3px solid transparent;
  transition-property: outline-offset, outline-color;
  transition-duration: 0.25s;
}

.icon-social:hover {
  outline-color: #ea804f;
  outline-offset: 3px;
  animation: shake 0.25s;
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}

.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #1c1c1c;
  box-shadow: 30px 0 0 #ea804f;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #ea804f;
  box-shadow: 30px 0 0 #1c1c1c;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #ea804f;
  }
  50% {
    box-shadow: 0 0 0 #ea804f;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #ea804f;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #1c1c1c;
  }
  50% {
    box-shadow: 0 0 0 #1c1c1c;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #1c1c1c;
    margin-top: 0;
  }
}
